.nav__link, .btn {
  text-decoration: none;
  color: #9e9aa7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link:hover, .btn:hover, .nav__link:active, .btn:active {
  color: #35323e;
}

/*
<900
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 28.125em) {
  html {
    font-size: 43.75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eee;
}

body {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #9e9aa7;
}

.heading-primary {
  color: #35323e;
  font-size: 6.4rem;
  line-height: 1.1;
}

@media (max-width: 56.25em) {
  .heading-primary {
    font-size: 5.6rem;
  }
}

.heading-secondary {
  font-size: 3.6rem;
  text-align: center;
  color: #35323e;
}

.heading-tertiary {
  font-size: 2.4rem;
}

.text {
  width: 80%;
}

.container {
  max-width: 144rem;
  padding: 4.8rem;
  margin: 0 auto;
}

.u-margin-right-md {
  margin-right: 4.8rem !important;
}

.u-margin-right-auto {
  margin-right: auto !important;
}

.u-margin-top-md {
  margin-top: 4.8rem !important;
}

.u-margin-bottom-sm {
  margin-bottom: 2.4rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.u-margin-bottom-lg {
  margin-bottom: 6.4rem !important;
}

.u-color-white {
  color: #fff !important;
}

.u-center-text {
  text-align: center !important;
}

.error-message {
  position: absolute;
  bottom: 10%;
  left: 32px;
  color: red;
  font-weight: lighter;
  font-size: 1.5rem;
}

.error + .error-message {
  visibility: visible;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
}

.nav__logo {
  margin-right: auto;
}

.nav__list {
  -webkit-transition: all 0.5s cubic-bezier(0.17, 0.67, 0.61, 1.46);
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.61, 1.46);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

@media (max-width: 43.75em) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
    z-index: 2;
  }
  .show .nav__list {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.header {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9.6rem 0;
  gap: 2.4rem;
}

@media (max-width: 43.75em) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero__text-box {
    width: 100%;
  }
  .hero__img {
    width: 100%;
  }
}

.hero__text-box {
  width: 100%;
}

.hero__img {
  width: 100%;
}

.section-form {
  margin-top: -12rem;
}

.form {
  position: relative;
  background: url(../../images/bg-shorten-desktop.svg) #35323e;
  height: 13rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  /* display: inline-flex; */
  /* display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center; */
  display: -ms-grid;
  display: grid;
  padding: 0 3.2rem;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  place-items: center;
  gap: 1.2rem;
}

@media (max-width: 28.125em) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 16rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__input {
  width: 100%;
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  padding: 1.6rem;
  font-family: inherit;
}

.form__input:placeholder-shown.error {
  color: red;
  outline: 2px solid red;
}

.form__button {
  padding: 1rem 2.4rem;
  background-color: #2acfcf;
  color: #fff;
  border-radius: 0.8rem;
  border: none;
  padding: 1.6rem 2.4rem;
  font-weight: 700;
  font-size: inherit;
}

.form__button:hover, .form__button:active {
  color: #fff;
  background-color: #aaecec;
}

.result__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}

.result__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
}

@media (max-width: 43.75em) {
  .result__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    text-align: center;
  }
}

@media (max-width: 28.125em) {
  .result__item {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.result__link {
  margin-right: auto;
}

@media (max-width: 43.75em) {
  .result__link {
    margin-right: 0;
  }
}

.result__new-link {
  color: #2acfcf;
}

.result__btn {
  padding: 1rem 2.4rem;
  background-color: #2acfcf;
  color: #fff;
  border-radius: 0.8rem;
  border: none;
  font-size: inherit;
}

.result__btn:hover, .result__btn:active {
  color: #fff;
  background-color: #aaecec;
}

.feature {
  margin: 9.6rem 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.feature__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}

@media (max-width: 43.75em) {
  .feature__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.feature__img-box {
  padding: 2.4rem;
  background-color: #3b3054;
  border-radius: 0.8rem;
}

.feature::after {
  width: 80%;
  content: '';
  height: 1.2rem;
  position: absolute;
  top: 325px;
  left: 50px;
  background-color: #2acfcf;
  z-index: -1;
}

@media (max-width: 43.75em) {
  .feature::after {
    visibility: hidden;
  }
}

.feature .text {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 43.75em) {
  .feature .text {
    width: 100%;
  }
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/bg-shorten-desktop.svg);
  background-color: #3b3054;
  gap: 1.8rem;
}

.footer {
  background-color: #232127;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: 2fr (1fr)[4];
      grid-template-columns: 2fr repeat(4, 1fr);
}

@media (max-width: 43.75em) {
  .footer {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .footer__nav {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .footer__social {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}

@media (max-width: 28.125em) {
  .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 3.2rem;
  }
  .footer__nav {
    grid-row: auto;
  }
  .footer__social {
    grid-column: auto;
  }
}

.footer img {
  margin-top: 0.8rem;
}

.footer__link:hover, .footer__link:active {
  color: #2acfcf;
}

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

.footer__social {
  margin-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.8rem;
}

.footer__social-link {
  color: transparent;
}

.footer__social-link path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__social-link:hover path,
.footer__social-link:active path {
  fill: #2acfcf;
}

.footer__social__social-link:hover path,
.footer__social__social-link:active path {
  fill: #2acfcf;
}

.btn {
  display: inline-block;
}

.btn--cta {
  padding: 1rem 2.4rem;
  background-color: #2acfcf;
  color: #fff;
  border-radius: 2.4rem;
  border: none;
}

.btn--cta:hover, .btn--cta:active {
  color: #fff;
  background-color: #aaecec;
}

.btn--lg {
  padding: 1.6rem 3.2rem;
  border-radius: 3.2rem;
}

.btn--copied {
  background-color: #3b3054;
}

.btn--copied:hover {
  background-color: #aa9ec7;
}

.btn--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.2rem;
  width: 4.8rem;
  height: 4.8rem;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 1px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 43.75em) {
  .btn--menu {
    pointer-events: all;
    visibility: visible;
    opacity: 100%;
  }
}
/*# sourceMappingURL=main.css.map */