@mixin btn-style($border-radius) {
  padding: 1rem 2.4rem;
  background-color: $color-primary;
  color: $color-white;
  border-radius: $border-radius;
  border: none;

  &:hover,
  &:active {
    color: $color-white;
    background-color: $color-primary-light;
  }
}

//media query manager
/*
<900
*/

@mixin respond-md {
  @media (max-width: 56.25em) {
    @content;
  }
}
@mixin respond-sm {
  @media (max-width: 43.75em) {
    @content;
  }
}
@mixin respond-vsm {
  @media (max-width: 28.125em) {
    @content;
  }
}
