$color-primary: #2acfcf;
$color-primary-light: #aaecec;

$color-secondary: #3b3054;
$color-secondary-light: #aa9ec7;

$color-tertiary: #f46262;

$color-light-gray-10: #bfbfbf;
$color-light-gray-20: #9e9aa7;

$color-dark-gray-10: hsl(255, 11%, 22%);
$color-dark-gray-20: hsl(260, 8%, 14%);

$color-white: #fff;

$default-font-size: 1.8rem;
$default-font-family: 'Poppins';
$default-font-weight: 500;
